################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/Bookstore/.vs/Bookstore/v16/Server/sqlite3
